/*
 * heatman css
 */


body {
	font-family: Consolas, Courier, Monaco, monospace;
	font-size: 14.5px;
	line-height: 1;
	padding: 10px 10px 10px 10px;
	background-color: #212121;
	color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0;
	font-weight: normal;
	font-size: 1.8em;
}

#header {
	margin: 0 0 5px 0;
}

.color-chart {
	border-bottom: 0.5px solid #aaaaaa;
	margin: 20px 0 20px 0;
}

.probe {
	margin: 15px 0 15px 0;
}

h3 {
	font-size: 1.0em;
	margin: 1.0em 0 0.5em;
}

.result {
	vertical-align: bottom;
	color: #00dd00;
}

.left {
	text-align: left;
}

table {
	border: none;
	line-height: 1.07;
}

table tr.reference td {
	text-align: left;
	padding: 0 0 0 1em;
	border-bottom: 0.5px solid #aaaaaa;
}

table tr td {
	text-align: right;
	padding: 0 0 0 1em;
}


.box1 { color: rgb(247, 252, 245); }
.box2 { color: rgb(199, 233, 192); }
.box3 { color: rgb(162, 217, 155); }
.box4 { color: rgb(116, 196, 118); }
.box5 { color: rgb(65, 171, 93); }
.box6 { color: rgb(33, 137, 68); }
.boxover { color: rgb(0, 90, 50); }
.boxfailed { color: rgb(227, 26, 28); }
.box-border { margin: 0 4px 0 0; }
