/*
 * heatman css
 */


body {
	font-family: Consolas, Courier, Monaco, monospace;
	font-size: 14.5px;
	line-height: 1;
	padding: 10px 10px 10px 10px;
	background-color: #212121;
	color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0;
	font-weight: normal;
	font-size: 1.8em;
}

#header {
	margin: 0 0 5px 0;
}

.color-chart {
	border-bottom: 0.5px solid #aaaaaa;
	margin: 20px 0 20px 0;
}

.probe {
	margin: 15px 0 15px 0;
}

h3 {
	font-size: 1.0em;
	margin: 1.0em 0 0.5em;
}

.result {
	vertical-align: bottom;
	color: #00dd00;
}

.target {
	text-align: left;
}

table {
	border: none;
	line-height: 1.07;
}

table tr.reference td {
	text-align: left;
	border-bottom: 0.5px solid #aaaaaa;
}

table tr td {
	padding: 0px 3px 0px 3px;
	text-align: right;
}


.box10ms { color: #BEDFC2; }
.box20ms { color: #89C997; }
.box30ms { color: #39A869; }
.box40ms { color: #007538; }
.box50ms { color: #004714; }
.box60ms { color: #BBCCE9; }
.box70ms { color: #88ABDA; }
.box80ms { color: #6C9BD2; }
.box90ms { color: #0D649D; }
.box100ms { color: #204A70; }
.boxover100ms { color: #00345B; }
.boxfailed { color: #C7000B; }
.box-border { margin: 0 4px 0 0; }
